
<div class="row row-cols-3 jusitfy-content-center">
  @if(form) {
    <form  [formGroup] ="form" (ngSubmit)="create_or_save()">
      <div class="mb-3">
        <label for ="codigo">codigo</label>
        <input id="codigo" type="text" placeholder="codigo" class="form-control" formControlName="codigo">
      </div>

      <div class="mb-3">
        <label for ="escuela">escuela</label>
        <input id="escuela" type="text" placeholder="escuela" class="form-control" formControlName="escuela">
      </div>

      <div class="mb-3">
        <label for = "nombre">nombre</label>
        <input id="nombre" type="text" placeholder="nombre" class="form-control" formControlName="nombre">
      </div>
  
      <button type="submit" class="btn btn-primary">Agregar Alumno</button>

    </form>
  }

  @else if(form2) {
    <form  [formGroup] ="form2" (ngSubmit)="save_prestamo()">
      <div class="mb-3">
        <label for ="cod_prestamo">Codigo Prestamo</label>
        <input id="cod_prestamo" type="text" placeholder="codigo prestamo" class="form-control" formControlName="cod_prestamo">
      </div>

      <div class="mb-3">
        <label for ="id">ID Libro</label>
        <input id="id" type="text" placeholder="id del libro" class="form-control" formControlName="id">
      </div>

      <div class="mb-3">
        <label for ="codigo">Codigo</label>
        <input id="codigo" type="text" placeholder="codigo del alumno" class="form-control" formControlName="codigo">
      </div>
  
      <button type="submit" class="btn btn-primary">Agregar Prestamo</button>

    </form>
  }

  @else if(form3) {
    <form  [formGroup] ="form3" (ngSubmit)="save_libro()">
      <div class="mb-3">
        <label for ="id">id libro</label>
        <input id="id" type="text" placeholder="codigo" class="form-control" formControlName="id">
      </div>

      <div class="mb-3">
        <label for ="titulo">Titulo</label>
        <input id="titulo" type="text" placeholder="escuela" class="form-control" formControlName="titulo">
      </div>

      <div class="mb-3">
        <label for ="autor">Autor</label>
        <input id="autor" type="text" placeholder="autor" class="form-control" formControlName="autor">
      </div>
      
      <div class="mb-3">
        <label for ="anio">Año</label>
        <input id="anio" type="number" placeholder="año" class="form-control" formControlName="anio">
      </div>
      
      <div class="mb-3">
        <label for ="categoria">Categoria</label>
        <input id="categoria" type="text" placeholder="categoria" class="form-control" formControlName="categoria">
      </div>
  
      <div class="mb-3">
        <label for ="cantidad">cantidad</label>
        <input id="cantidad" type="text" placeholder="nombre" class="form-control" formControlName="cantidad">
      </div>

      <button type="submit" class="btn btn-primary">Agregar Libro</button>

    </form>
  }

</div>