<br/>
<div class="input-group">
  <a class="btn btn-info"  [routerLink]="'/alumnos/agregar'" >Agregar Alumno</a>
</div>
<br/>
<div class="container"><h2>Alumnos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Escuela</th>
          <th scope="col">Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(alumno of alumnos; track alumno.codigo) {
          <tr> <!-- Usando forloop.counter -->
              <td>{{alumno.codigo}}</td>
              <td>{{alumno.escuela}}</td> 
              <td>{{alumno.nombre}}</td>
              <td>
                <a class="btn btn-info" [routerLink]="['/',alumno.codigo, 'edit']">Editar</a>
    
                <a  class="btn btn-danger" (click)="deleteAlumno(alumno)">Eliminar</a>
              </td>
          </tr>
        }
      </tbody>
    </table>
    
    </div>
    
    