
  
  <!-- Marco debajo del nav con opciones -->
  <div class="container mt-4">

      <div class="card-body">
        <div class="row">
          <!-- Botón para redirigir a Alumnos -->
          <div class="col-md-4">
            
            <button class="btn btn-primary btn-block" [routerLink]="['/alumnos']">Alumnos</button>
          </div>
          <!-- Botón para redirigir a Libros -->
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" [routerLink]="['/libros']">Libros</button>
          </div>
          <!-- Botón para redirigir a Prestamos -->
          <div class="col-md-4">
            <button class="btn btn-primary btn-block" [routerLink]="['/prestamos']">Prestamos</button>
          </div>
        </div>
      </div>

  </div>
  
